
::highlight(lingolucid-highlight-saved) {
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
}


::highlight(lingolucid-highlight-new) {
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
}
